body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffcc00, #ff5722, #03a9f4, #e91e63);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header, footer {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    animation: mainSlideIn 2s ease-in-out;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #ff5722;
}

header p {
    font-size: 1.7em;
    color: #2d0584;
    margin: auto;
}

nav {
    width: 100%;
    max-width: 1200px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(47, 0, 255);
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    animation: mainSlideIn 2s ease-in-out;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 20px;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}

nav ul li a:hover {
    background: #011364;
    color: #fff;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: mainSlideIn 2s ease-in-out;
    margin-left: 18px;
}

@keyframes mainSlideIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 1.8em;
    color: #2230ff;
    border-bottom: 2px solid #2230ff;
    padding-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 5px 55px;
    list-style-type: square;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
